*{
    color:black;
    font-style:italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main {
    display:flex;
}
.left {
    width: 36%;
    border: 3px solid#F0B27A;
    box-shadow: 4px 4px 4px pink;
    margin:3px;

}
img {
    width=90%;
}
.right {
    margin:3px;
    width:65%;
    border:3px solid tomato;
    box-shadow:4px 4px 4px pink;
}
.cr{
    color:pink;
}
.skills{
    background-color: rgb(100, 237, 230);
    color:black;
    border:2px solid #F0B27A;
    box-shadow: 0pt;
    padding: 3px;
    border-radius: calc();
}